
@{
    ViewBag.Title = "Party Created!";
}

<div class="panel panel-success">
    <div class="panel-heading">Your Location</div>
    <div class="panel-body">
        <label>Address:</label><span>@ViewBag.Address</span><br />
        <label>Latitude:</label><span>@ViewBag.Lat</span><br />
        <label>Longitude:</label><span>@ViewBag.Lng</span><br />
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">Share it!</div>
    <div class="panel-body">
        <label>By URL:</label><br />
        <a href="@ViewBag.PartyURL">@ViewBag.PartyURL</a><br />
        <br />

        <label>Mail it:</label><br />
        <a href="mailto:?subject=DudeFinder%20Party&body=Hi!%0A%0AWe want to meet at the following position:%0A @Url.Encode(ViewBag.PartyURL)">Send with your mail client</a><br />

        <label>Go Social:</label><br />
        <a href="whatsapp://send?text=We meet us here: @Url.Encode(ViewBag.PartyURL)">
            <img src="@Url.Content("~/Content/wa.png")" alt="WhatsApp" style="height: 35px;margin-bottom: 10px;" />
        </a>
        <br />
        <g:plus action="share" href="@ViewBag.PartyUrl" height="24"></g:plus>
        <br />

        <label>Let others scan this:</label>
        <div id="qrcode">
        </div>

    </div>
</div>
<div>
    <button class="btn btn-success">Start Tracking</button>
</div>


@section js {
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var qrcode = new QRCode("qrcode", {
                text: "@ViewBag.PartyUrl",
                colorDark: "#000000",
                colorLight: "#ffffff",
                correctLevel: QRCode.CorrectLevel.H
            });
        });

</script>
}