
@{
    ViewBag.Title = "Create Party";
}

<h3>Party created</h3>
Share this with your dudes!

<div>
    <b>Lat:</b>@ViewBag.Lat<br />
    <b>Lng:</b>@ViewBag.Lng<br />
    <i>@ViewBag.PartyURL</i>
</div>
<br />
<a href="whatsapp://send?text=We meet us here: @Url.Encode(ViewBag.PartyURL)">Send in WhatsApp</a>
<br />
<div id="qrcode">
</div>

@section js {
    <script type="text/javascript">
        $(document).ready(function () {
            var qrcode = new QRCode("qrcode", {
                text: "@ViewBag.PartyUrl",
                colorDark: "#000000",
                colorLight: "#ffffff",
                correctLevel: QRCode.CorrectLevel.H
            });
        });
        
    </script>
}